

 .container {
    max-width: 1200px;

    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
 }
 .section {
    padding-top: $gap-section;
    padding-bottom: $gap-section;
 }

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;

    color: $color-text-main;

    background-color: $color-bg-main;
    }
.subtitle {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: $color-text-dark;
} 
.link {
    text-decoration: none;
    font-style: normal;
    color: inherit;
    border: none;
}
.list {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.button {
    // background-color: var(--light-background-color);
    cursor: pointer;
    border: none;
}


  img {
    display: block;
    max-width: 100%;
    height: auto;
  }


