// COLORS

$color-accent: #2196F3;

$color-bg-main: #FFF;
$color-bg-darkest: #2F303A;
$color-bg-dark: #C4C4C4;
$color-bg-light: #F5F4FA;


$color-border-main: #EEEEEE;

$color-btn-active: #188CE8;

$color-text-main: #757575;
$color-text-dark:#212121;
$color-text-black: #000;
$color-text-white: #FFF;
$color-text-light: rgba(0, 0, 0, 0.2);

$color-backdrop: rgba(0, 0, 0, 0.2);

$color-icons-bg: rgba(255, 255, 255, 0.1);
$color-icon: #AFB1B8;


// GAP

$gap-section: 94px;
$gap-title: 50px;
$gap-subtitle: 20px;
$gap-grid: 30px;
$gap-modal-title: 40px;
$gap-modal-input: 10px;
$gap-modal-label: 4px;

// TEXT



// OTHER

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);


